<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
             <img src="~/image/banklogo.png" />
        </div>
    </nav>
	
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
            </div>
            <!-- Copyright -->
            <!-- Right -->
            <div>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Right -->
        </div>

    </footer>
</body>
</html>