<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
             <img src="~/image/banklogo.png" />
        </div>
    </nav>
	
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer>1st Page</footer>
</body>
</html>