<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MyBank</a>
            <br />
        </div>
    </nav>
	
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>

<footer>

    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Copyright © 2025. All rights reserved.</a>
            <br />
        </div>
    </nav>
    
</footer>
</html>